In [1]:
import pandas as pd

In [2]:
file_path = './mouse-condition_combined.csv'
df = pd.read_csv(file_path)

In [3]:
df_transposed = df.T
df_transposed.head()

,0,1,2,3,4,5,6,7,8,9,...,231,232,233,234,235,236,237,238,239,240
SRR9601002,SRR9601003,SRR9601008,SRR9601009,SRR9601010,SRR2068908,SRR2068909,SRR2068912,SRR2068913,SRR12044994,SRR12044995,...,SRR11684190,SRR11684182,SRR11684183,SRR11684184,SRR11684185,SRR11684186,SRR7463322,SRR7463323,SRR7463324,SRR7463325
45℃:60min.,45℃:60min.,45℃:60min.,45℃:60min.,45℃:60min.,39℃:60min.,39℃:60min.,39℃:60min.,39℃:60min.,39℃:180min.,39℃:180min.,...,42℃:20min.,42℃:20min.,42℃:20min.,42℃:20min.,42℃:20min.,42℃:20min.,43℃:30min.,43℃:30min.,43℃:30min.,43℃:30min.

In [6]:
df_transposed.to_csv('./mouse-condition_combined_transposed.csv', index=False)