### Condition type specific HN-score calculation method

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import csv

%matplotlib inline

plt.style.use('ggplot')

### Using the HN-ratio table

In [2]:
df = pd.read_csv("../source/HN-ratio_human_All.csv", sep=",")
df.head()

,GeneName,SRR8392699,SRR8392700,SRR8392703,SRR8392704,SRR10129832,SRR9029562,SRR9029564,SRR9029566,SRR3309259,...,SRR9257642,SRR9257643,SRR9257644,SRR9257645,SRR12801712,SRR12801713,SRR12801714,SRR11067753,SRR11067754,SRR11067755
0,A1BG,0.937577,0.905060,1.173431,0.951361,1.616084,1.587653,0.839417,0.707164,0.688915,...,0.150518,3.972351,1.388637,0.267622,1.000000,1.0,1.000000,1.000000,1.000000,0.497684
1,A1CF,1.274827,1.000000,1.000000,1.000000,1.578923,1.121376,1.125679,1.256608,0.867105,...,1.000000,1.000000,1.000000,1.000000,0.939182,1.0,1.052121,1.029972,1.000000,1.000000
2,A2M,0.954195,1.510970,1.340899,0.800410,2.867888,0.271588,1.027820,0.628021,0.646622,...,1.000000,4.285260,1.000000,1.000000,1.000000,1.0,1.000000,0.875078,2.271058,1.530530
3,A2ML1,1.078959,0.649897,0.789869,1.665942,2.674006,8.028230,3.515341,9.282938,0.929338,...,1.000000,0.795947,1.000000,1.000000,1.000000,1.0,1.000000,2.026651,1.000000,1.000000
4,A3GALT2,1.000000,1.000000,1.000000,1.000000,0.924578,1.000000,1.000000,0.468382,0.600246,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000

In [3]:
# set index 
df1=df.set_index('GeneName')
df1.head()

,SRR8392699,SRR8392700,SRR8392703,SRR8392704,SRR10129832,SRR9029562,SRR9029564,SRR9029566,SRR3309259,SRR3309260,...,SRR9257642,SRR9257643,SRR9257644,SRR9257645,SRR12801712,SRR12801713,SRR12801714,SRR11067753,SRR11067754,SRR11067755
GeneName,,,,,,,,,,,,,,,,,,,,,
A1BG,0.937577,0.905060,1.173431,0.951361,1.616084,1.587653,0.839417,0.707164,0.688915,0.807707,...,0.150518,3.972351,1.388637,0.267622,1.000000,1.0,1.000000,1.000000,1.000000,0.497684
A1CF,1.274827,1.000000,1.000000,1.000000,1.578923,1.121376,1.125679,1.256608,0.867105,0.542718,...,1.000000,1.000000,1.000000,1.000000,0.939182,1.0,1.052121,1.029972,1.000000,1.000000
A2M,0.954195,1.510970,1.340899,0.800410,2.867888,0.271588,1.027820,0.628021,0.646622,1.000000,...,1.000000,4.285260,1.000000,1.000000,1.000000,1.0,1.000000,0.875078,2.271058,1.530530
A2ML1,1.078959,0.649897,0.789869,1.665942,2.674006,8.028230,3.515341,9.282938,0.929338,0.266727,...,1.000000,0.795947,1.000000,1.000000,1.000000,1.0,1.000000,2.026651,1.000000,1.000000
A3GALT2,1.000000,1.000000,1.000000,1.000000,0.924578,1.000000,1.000000,0.468382,0.600246,0.241123,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000

### Store SRR number data and sample data as a dictionary data type

In [4]:
with open("../source/human-condition_combined_transposed.csv", encoding="utf-8") as csvfile:  # create coresponding CSV file 
    f = csv.DictReader(csvfile)
    condition_type = [row for row in f]
    print(condition_type)

[{'SRR8392699': '44℃:120min.', 'SRR8392700': '44℃:120min.', 'SRR8392703': '44℃:120min.', 'SRR8392704': '44℃:120min.', 'SRR8392707': '44℃:120min.', 'SRR8392708': '44℃:120min.', 'SRR8392711': '44℃:120min.', 'SRR8392712': '44℃:120min.', 'SRR2522096': '42℃:160min.', 'SRR2522099': '42℃:160min.', 'SRR2522102': '42℃:160min.', 'SRR10129832': '43℃:60min.', 'SRR13436541': '43℃:60min.', 'SRR13436542': '43℃:60min.', 'SRR13436543': '43℃:60min.', 'SRR7309387': '43℃:60min.', 'SRR9029562': '43℃:60min.', 'SRR9029564': '43℃:60min.', 'SRR9029566': '43℃:60min.', 'SRR9029563': '43℃:60min.', 'SRR9029565': '43℃:60min.', 'SRR9029567': '43℃:60min.', 'SRR3309259': '45℃:30min.', 'SRR3309260': '45℃:30min.', 'SRR3309261': '45℃:30min.', 'SRR7241962': '39℃:1440min.', 'SRR7241963': '39℃:1440min.', 'SRR7241964': '39℃:1440min.', 'SRR7241965': '39℃:1440min.', 'SRR7241966': '39℃:1440min.', 'SRR7241967': '39℃:1440min.', 'SRR7241968': '39℃:1440min.', 'SRR7241969': '39℃:1440min.', 'SRR7241970': '39℃:1440min.', 'SRR10908166': '39℃:240min.', 'SRR10908167': '39℃:240min.', 'SRR10908168': '39℃:240min.', 'SRR10908163': '39℃:240min.', 'SRR10908164': '39℃:240min.', 'SRR10908165': '39℃:240min.', 'SRR648668': '44℃:120min.', 'SRR648670': '44℃:120min.', 'SRR15177493': '43℃:120min.', 'SRR15177494': '43℃:120min.', 'SRR15177495': '43℃:120min.', 'SRR15177496': '43℃:120min.', 'SRR15177497': '43℃:120min.', 'SRR15177498': '43℃:120min.', 'SRR15177499': '43℃:120min.', 'SRR18302238': '42℃:60min.', 'SRR18302239': '42℃:60min.', 'SRR18302240': '42℃:60min.', 'SRR18302251': '42℃:60min.', 'SRR18302252': '42℃:60min.', 'SRR18302254': '42℃:60min.', 'SRR18302262': '42℃:60min.', 'SRR18302263': '42℃:60min.', 'SRR18302264': '42℃:60min.', 'SRR18302274': '42℃:60min.', 'SRR18302275': '42℃:60min.', 'SRR18302276': '42℃:60min.', 'SRR7359773': '42℃:60min.', 'SRR7359774': '42℃:60min.', 'SRR7359775': '42℃:60min.', 'SRR7359665': '42℃:60min.', 'SRR7359666': '42℃:60min.', 'SRR7359667': '42℃:60min.', 'SRR7359701': '42℃:60min.', 'SRR7359702': '42℃:60min.', 'SRR7359703': '42℃:60min.', 'SRR7359737': '42℃:60min.', 'SRR7359738': '42℃:60min.', 'SRR7359739': '42℃:60min.', 'SRR7359761': '42℃:60min.', 'SRR7359762': '42℃:60min.', 'SRR7359763': '42℃:60min.', 'SRR7359785': '42℃:60min.', 'SRR7359786': '42℃:60min.', 'SRR7359787': '42℃:60min.', 'SRR7359797': '42℃:60min.', 'SRR7359798': '42℃:60min.', 'SRR7359799': '42℃:60min.', 'SRR7359677': '42℃:60min.', 'SRR7359678': '42℃:60min.', 'SRR7359679': '42℃:60min.', 'SRR7359689': '42℃:60min.', 'SRR7359690': '42℃:60min.', 'SRR7359691': '42℃:60min.', 'SRR7359713': '42℃:60min.', 'SRR7359714': '42℃:60min.', 'SRR7359715': '42℃:60min.', 'SRR7359725': '42℃:60min.', 'SRR7359726': '42℃:60min.', 'SRR7359727': '42℃:60min.', 'SRR7359749': '42℃:60min.', 'SRR7359750': '42℃:60min.', 'SRR7359751': '42℃:60min.', 'SRR12926169': '42℃:60min.', 'SRR12926170': '42℃:60min.', 'SRR12926171': '42℃:60min.', 'SRR12926172': '42℃:60min.', 'SRR12926185': '42℃:60min.', 'SRR12926186': '42℃:60min.', 'SRR12926187': '42℃:60min.', 'SRR12926188': '42℃:60min.', 'SRR12926161': '42℃:60min.', 'SRR12926162': '42℃:60min.', 'SRR12926163': '42℃:60min.', 'SRR12926164': '42℃:60min.', 'SRR12926177': '42℃:60min.', 'SRR12926178': '42℃:60min.', 'SRR12926179': '42℃:60min.', 'SRR12926180': '42℃:60min.', 'SRR19077081': '42℃:60min.', 'SRR19077089': '42℃:60min.', 'SRR19077082': '42℃:60min.', 'SRR19077090': '42℃:60min.', 'SRR19077085': '42℃:60min.', 'SRR19077093': '42℃:60min.', 'SRR19077086': '42℃:60min.', 'SRR19077094': '42℃:60min.', 'SRR12801710': '43℃:30min.', 'SRR12801711': '43℃:30min.', 'SRR11067756': '43℃:30min.', 'SRR11067757': '43℃:30min.', 'SRR11067758': '43℃:30min.', 'SRR12801712': '43℃:30min.', 'SRR12801713': '43℃:30min.', 'SRR12801714': '43℃:30min.', 'SRR11067753': '43℃:30min.', 'SRR11067754': '43℃:30min.', 'SRR11067755': '43℃:30min.', 'SRR16555321': '42℃:30min.', 'SRR16555322': '42℃:30min.', 'SRR16555315': '42℃:30min.', 'SRR16555316': '42℃:30min.', 'SRR16555317': '42℃:30min.', 'SRR16555318': '42℃:30min.', 'SRR17038864': '43℃:30min.', 'SRR17038865': '43℃:30min.', 'SRR17038866': '43℃:30min.', 'SRR11817840': '42.5℃:60min.', 'SRR11817841': '42.5℃:60min.', 'SRR11817842': '42.5℃:60min.', 'SRR11817843': '42.5℃:60min.', 'SRR11817844': '42.5℃:60min.', 'SRR11817845': '42.5℃:60min.', 'SRR11817852': '42.5℃:60min.', 'SRR11817853': '42.5℃:60min.', 'SRR11817854': '42.5℃:60min.', 'SRR11817855': '42.5℃:60min.', 'SRR11817856': '42.5℃:60min.', 'SRR11817857': '42.5℃:60min.', 'SRR9257619': '45℃(+/-0.2):30min.', 'SRR9257620': '45℃(+/-0.2):30min.', 'SRR9257621': '45℃(+/-0.2):30min.', 'SRR9257622': '45℃(+/-0.2):30min.', 'SRR9257623': '45℃(+/-0.2):30min.', 'SRR9257624': '45℃(+/-0.2):30min.', 'SRR9257625': '45℃(+/-0.2):30min.', 'SRR9257626': '45℃(+/-0.2):30min.', 'SRR9257627': '45℃(+/-0.2):30min.', 'SRR9257637': '45℃(+/-0.2):30min.', 'SRR9257638': '45℃(+/-0.2):30min.', 'SRR9257639': '45℃(+/-0.2):30min.', 'SRR9257640': '45℃(+/-0.2):30min.', 'SRR9257641': '45℃(+/-0.2):30min.', 'SRR9257642': '45℃(+/-0.2):30min.', 'SRR9257643': '45℃(+/-0.2):30min.', 'SRR9257644': '45℃(+/-0.2):30min.', 'SRR9257645': '45℃(+/-0.2):30min.', 'SRR11684069': '41.5℃：420min.', 'SRR11684070': '41.5℃:420min.', 'SRR11684071': '41.5℃:420min.', 'SRR11684072': '41.5℃:420min.', 'SRR11684073': '41.5℃:420min.', 'SRR11684074': '41.5℃:420min.', 'SRR10761036': '42℃:240min.', 'SRR10761037': '42℃:240min.', 'SRR10761038': '42℃:240min.', 'SRR1061343': '39℃:1440min.', 'SRR1061344': '39℃:1440min.', 'SRR11195423': '42℃:45min.', 'SRR11195425': '42℃:45min.', 'SRR11195422': '42℃:45min.', 'SRR11195424': '42℃:45min.', 'SRR11195426': '42℃:45min.', 'SRR11195427': '42℃:45min.', 'SRR11195428': '42℃:45min.', 'SRR11195429': '42℃:45min.', 'SRR11195431': '42℃:45min.', 'SRR11195433': '42℃:45min.', 'SRR11195430': '42℃:45min.', 'SRR11195432': '42℃:45min.', 'SRR8334015': '42℃:15min.', 'SRR8334016': '42℃:15min.', 'SRR8334017': '42℃:30min.', 'SRR8334018': '42℃:30min.', 'SRR8334021': '42℃:15min.', 'SRR8334022': '42℃:15min.', 'SRR8334023': '42℃:30min.', 'SRR8334024': '42℃:30min.', 'SRR8334027': '42℃:15min.', 'SRR8334028': '42℃:15min.', 'SRR8334029': '42℃:30min.', 'SRR8334030': '42℃:30min.', 'SRR8334035': '42℃:30min.', 'SRR8334036': '42℃:30min.', 'SRR8334037': '42℃:30min.', 'SRR8334038': '42℃:30min.', 'SRR10953094': '42℃:65min.', 'SRR10953095': '42℃:65min.', 'SRR10953096': '42℃:65min.', 'SRR10953097': '42℃:65min.', 'SRR10953098': '42℃:65min.', 'SRR8669175': '42℃:9×60min.', 'SRR8669176': '42℃:9×60min.', 'SRR8669177': '42℃:9×60min.', 'SRR8669167': '42℃:9×60min.', 'SRR8669168': '42℃:9×60min.', 'SRR8669169': '42℃:9×60min.', 'SRR8669170': '42℃:9×60min.', 'SRR8669171': '42℃:9×60min.', 'SRR12267715': '42℃:60min.', 'SRR12267716': '42℃:60min.', 'SRR12267717': '42℃:60min.', 'SRR12267718': '42℃:60min.', 'SRR12267719': '42℃:60min.', 'SRR12267720': '42℃:60min.', 'SRR12267721': '42℃:60min.', 'SRR12267722': '42℃:60min.', 'SRR13436390': '42℃:60min.', 'SRR13436391': '42℃:60min.', 'SRR13436392': '42℃:60min.', 'SRR13436393': '42℃:60min.', 'SRR13436394': '42℃:60min.', 'SRR13436395': '42℃:60min.', 'SRR13436396': '42℃:60min.+recovery', 'SRR13436397': '42℃:60min.+recovery', 'SRR13436398': '42℃:60min.+recovery', 'SRR13436399': '42℃:60min.+recovery', 'SRR13436400': '42℃:60min.+recovery', 'SRR13436401': '42℃:60min.+recovery', 'SRR13510258': '43℃:30min.', 'SRR13510259': '43℃:60min.', 'SRR13510260': '43℃:180min.', 'SRR13510262': '43℃:30min.', 'SRR13510263': '43℃:60min.', 'SRR13510264': '43℃:180min.', 'SRR13510285': '43℃:120min.', 'SRR13510286': '43℃:120min.', 'SRR13510287': '43℃:120min.', 'SRR13510288': '43℃:120min.', 'SRR13510289': '43℃:120min.', 'SRR13510290': '43℃:120min.', 'SRR13510291': '43℃:120min.', 'SRR13510292': '43℃:120min.', 'SRR13510293': '43℃:120min.', 'SRR13510294': '43℃:120min.', 'SRR13510331': '43℃:120min.', 'SRR13510332': '43℃:120min.', 'SRR13510333': '43℃:120min.', 'SRR13510334': '43℃:120min.', 'SRR13510335': '43℃:120min.', 'SRR13510336': '43℃:120min.', 'SRR13510337': '43℃:120min.', 'SRR13510338': '43℃:120min.', 'SRR13510339': '43℃:120min.', 'SRR13510340': '43℃:120min.', 'SRR13510341': '43℃:120min.', 'SRR13510342': '43℃:120min.', 'SRR13510254': '43℃:120min.', 'SRR13510256': '43℃:120min.', 'SRR18248312': '43℃:120min.', 'SRR18248316': '43℃:120min.', 'SRR18248314': '43℃:120min.', 'SRR18248318': '43℃:120min.', 'SRR17038288': '43℃:105min.', 'SRR17038289': '43℃:105min.', 'SRR17038292': '43℃:105min.', 'SRR17038293': '43℃:105min.', 'SRR17038296': '43℃:105min.', 'SRR17038297': '43℃:105min.', 'SRR17038300': '43℃:105min.', 'SRR17038301': '43℃:105min.', 'SRR17038304': '43℃:105min.', 'SRR17038305': '43℃:105min.', 'SRR17038308': '43℃:105min.', 'SRR17038309': '43℃:105min.', 'SRR13510346': '43℃:105min.', 'SRR13510347': '43℃:105min.', 'SRR13510348': '43℃:105min.', 'SRR18248916': '43℃:120min.', 'SRR18248920': '43℃:120min.', 'SRR18248924': '43℃:120min.', 'SRR18248914': '43℃:120min.', 'SRR18248918': '43℃:120min.', 'SRR18248922': '43℃:120min.', 'SRR5756320': '44℃:60min.', 'SRR5756321': '44℃:60min.', 'SRR5756322': '44℃:60min.', 'SRR5756323': '44℃:60min.', 'SRR5756324': '44℃:120min.', 'SRR5756325': '44℃:120min.', 'SRR5756326': '44℃:120min.', 'SRR5756327': '44℃:120min.', 'SRR5756344': '44℃:60min.', 'SRR5756345': '44℃:60min.', 'SRR5756346': '44℃:60min.', 'SRR5756347': '44℃:60min.', 'SRR5756348': '44℃:120min.', 'SRR5756349': '44℃:120min.', 'SRR5756350': '44℃:120min.', 'SRR5756351': '44℃:120min.', 'SRR3000786': '43℃:240min.', 'SRR3000787': '43℃:240min.', 'SRR5749642': '43℃:30min.', 'SRR5749643': '43℃:30min.', 'SRR5749644': '43℃:30min.', 'SRR5749645': '43℃:30min.', 'SRR5749646': '43℃:30min.', 'SRR5749647': '43℃:30min.'}]

In [5]:
#hash
condition = {'SRR8392699': '44℃:120min.', 'SRR8392700': '44℃:120min.', 'SRR8392703': '44℃:120min.', 'SRR8392704': '44℃:120min.', 'SRR8392707': '44℃:120min.', 'SRR8392708': '44℃:120min.', 'SRR8392711': '44℃:120min.', 'SRR8392712': '44℃:120min.', 'SRR2522096': '42℃:160min.', 'SRR2522099': '42℃:160min.', 'SRR2522102': '42℃:160min.', 'SRR10129832': '43℃:60min.', 'SRR13436541': '43℃:60min.', 'SRR13436542': '43℃:60min.', 'SRR13436543': '43℃:60min.', 'SRR7309387': '43℃:60min.', 'SRR9029562': '43℃:60min.', 'SRR9029564': '43℃:60min.', 'SRR9029566': '43℃:60min.', 'SRR9029563': '43℃:60min.', 'SRR9029565': '43℃:60min.', 'SRR9029567': '43℃:60min.', 'SRR3309259': '45℃:30min.', 'SRR3309260': '45℃:30min.', 'SRR3309261': '45℃:30min.', 'SRR7241962': '39℃:1440min.', 'SRR7241963': '39℃:1440min.', 'SRR7241964': '39℃:1440min.', 'SRR7241965': '39℃:1440min.', 'SRR7241966': '39℃:1440min.', 'SRR7241967': '39℃:1440min.', 'SRR7241968': '39℃:1440min.', 'SRR7241969': '39℃:1440min.', 'SRR7241970': '39℃:1440min.', 'SRR10908166': '39℃:240min.', 'SRR10908167': '39℃:240min.', 'SRR10908168': '39℃:240min.', 'SRR10908163': '39℃:240min.', 'SRR10908164': '39℃:240min.', 'SRR10908165': '39℃:240min.', 'SRR648668': '44℃:120min.', 'SRR648670': '44℃:120min.', 'SRR15177493': '43℃:120min.', 'SRR15177494': '43℃:120min.', 'SRR15177495': '43℃:120min.', 'SRR15177496': '43℃:120min.', 'SRR15177497': '43℃:120min.', 'SRR15177498': '43℃:120min.', 'SRR15177499': '43℃:120min.', 'SRR18302238': '42℃:60min.', 'SRR18302239': '42℃:60min.', 'SRR18302240': '42℃:60min.', 'SRR18302251': '42℃:60min.', 'SRR18302252': '42℃:60min.', 'SRR18302254': '42℃:60min.', 'SRR18302262': '42℃:60min.', 'SRR18302263': '42℃:60min.', 'SRR18302264': '42℃:60min.', 'SRR18302274': '42℃:60min.', 'SRR18302275': '42℃:60min.', 'SRR18302276': '42℃:60min.', 'SRR7359773': '42℃:60min.', 'SRR7359774': '42℃:60min.', 'SRR7359775': '42℃:60min.', 'SRR7359665': '42℃:60min.', 'SRR7359666': '42℃:60min.', 'SRR7359667': '42℃:60min.', 'SRR7359701': '42℃:60min.', 'SRR7359702': '42℃:60min.', 'SRR7359703': '42℃:60min.', 'SRR7359737': '42℃:60min.', 'SRR7359738': '42℃:60min.', 'SRR7359739': '42℃:60min.', 'SRR7359761': '42℃:60min.', 'SRR7359762': '42℃:60min.', 'SRR7359763': '42℃:60min.', 'SRR7359785': '42℃:60min.', 'SRR7359786': '42℃:60min.', 'SRR7359787': '42℃:60min.', 'SRR7359797': '42℃:60min.', 'SRR7359798': '42℃:60min.', 'SRR7359799': '42℃:60min.', 'SRR7359677': '42℃:60min.', 'SRR7359678': '42℃:60min.', 'SRR7359679': '42℃:60min.', 'SRR7359689': '42℃:60min.', 'SRR7359690': '42℃:60min.', 'SRR7359691': '42℃:60min.', 'SRR7359713': '42℃:60min.', 'SRR7359714': '42℃:60min.', 'SRR7359715': '42℃:60min.', 'SRR7359725': '42℃:60min.', 'SRR7359726': '42℃:60min.', 'SRR7359727': '42℃:60min.', 'SRR7359749': '42℃:60min.', 'SRR7359750': '42℃:60min.', 'SRR7359751': '42℃:60min.', 'SRR12926169': '42℃:60min.', 'SRR12926170': '42℃:60min.', 'SRR12926171': '42℃:60min.', 'SRR12926172': '42℃:60min.', 'SRR12926185': '42℃:60min.', 'SRR12926186': '42℃:60min.', 'SRR12926187': '42℃:60min.', 'SRR12926188': '42℃:60min.', 'SRR12926161': '42℃:60min.', 'SRR12926162': '42℃:60min.', 'SRR12926163': '42℃:60min.', 'SRR12926164': '42℃:60min.', 'SRR12926177': '42℃:60min.', 'SRR12926178': '42℃:60min.', 'SRR12926179': '42℃:60min.', 'SRR12926180': '42℃:60min.', 'SRR19077081': '42℃:60min.', 'SRR19077089': '42℃:60min.', 'SRR19077082': '42℃:60min.', 'SRR19077090': '42℃:60min.', 'SRR19077085': '42℃:60min.', 'SRR19077093': '42℃:60min.', 'SRR19077086': '42℃:60min.', 'SRR19077094': '42℃:60min.', 'SRR12801710': '43℃:30min.', 'SRR12801711': '43℃:30min.', 'SRR11067756': '43℃:30min.', 'SRR11067757': '43℃:30min.', 'SRR11067758': '43℃:30min.', 'SRR12801712': '43℃:30min.', 'SRR12801713': '43℃:30min.', 'SRR12801714': '43℃:30min.', 'SRR11067753': '43℃:30min.', 'SRR11067754': '43℃:30min.', 'SRR11067755': '43℃:30min.', 'SRR16555321': '42℃:30min.', 'SRR16555322': '42℃:30min.', 'SRR16555315': '42℃:30min.', 'SRR16555316': '42℃:30min.', 'SRR16555317': '42℃:30min.', 'SRR16555318': '42℃:30min.', 'SRR17038864': '43℃:30min.', 'SRR17038865': '43℃:30min.', 'SRR17038866': '43℃:30min.', 'SRR11817840': '42.5℃:60min.', 'SRR11817841': '42.5℃:60min.', 'SRR11817842': '42.5℃:60min.', 'SRR11817843': '42.5℃:60min.', 'SRR11817844': '42.5℃:60min.', 'SRR11817845': '42.5℃:60min.', 'SRR11817852': '42.5℃:60min.', 'SRR11817853': '42.5℃:60min.', 'SRR11817854': '42.5℃:60min.', 'SRR11817855': '42.5℃:60min.', 'SRR11817856': '42.5℃:60min.', 'SRR11817857': '42.5℃:60min.', 'SRR9257619': '45℃(+/-0.2):30min.', 'SRR9257620': '45℃(+/-0.2):30min.', 'SRR9257621': '45℃(+/-0.2):30min.', 'SRR9257622': '45℃(+/-0.2):30min.', 'SRR9257623': '45℃(+/-0.2):30min.', 'SRR9257624': '45℃(+/-0.2):30min.', 'SRR9257625': '45℃(+/-0.2):30min.', 'SRR9257626': '45℃(+/-0.2):30min.', 'SRR9257627': '45℃(+/-0.2):30min.', 'SRR9257637': '45℃(+/-0.2):30min.', 'SRR9257638': '45℃(+/-0.2):30min.', 'SRR9257639': '45℃(+/-0.2):30min.', 'SRR9257640': '45℃(+/-0.2):30min.', 'SRR9257641': '45℃(+/-0.2):30min.', 'SRR9257642': '45℃(+/-0.2):30min.', 'SRR9257643': '45℃(+/-0.2):30min.', 'SRR9257644': '45℃(+/-0.2):30min.', 'SRR9257645': '45℃(+/-0.2):30min.', 'SRR11684069': '41.5℃：420min.', 'SRR11684070': '41.5℃:420min.', 'SRR11684071': '41.5℃:420min.', 'SRR11684072': '41.5℃:420min.', 'SRR11684073': '41.5℃:420min.', 'SRR11684074': '41.5℃:420min.', 'SRR10761036': '42℃:240min.', 'SRR10761037': '42℃:240min.', 'SRR10761038': '42℃:240min.', 'SRR1061343': '39℃:1440min.', 'SRR1061344': '39℃:1440min.', 'SRR11195423': '42℃:45min.', 'SRR11195425': '42℃:45min.', 'SRR11195422': '42℃:45min.', 'SRR11195424': '42℃:45min.', 'SRR11195426': '42℃:45min.', 'SRR11195427': '42℃:45min.', 'SRR11195428': '42℃:45min.', 'SRR11195429': '42℃:45min.', 'SRR11195431': '42℃:45min.', 'SRR11195433': '42℃:45min.', 'SRR11195430': '42℃:45min.', 'SRR11195432': '42℃:45min.', 'SRR8334015': '42℃:15min.', 'SRR8334016': '42℃:15min.', 'SRR8334017': '42℃:30min.', 'SRR8334018': '42℃:30min.', 'SRR8334021': '42℃:15min.', 'SRR8334022': '42℃:15min.', 'SRR8334023': '42℃:30min.', 'SRR8334024': '42℃:30min.', 'SRR8334027': '42℃:15min.', 'SRR8334028': '42℃:15min.', 'SRR8334029': '42℃:30min.', 'SRR8334030': '42℃:30min.', 'SRR8334035': '42℃:30min.', 'SRR8334036': '42℃:30min.', 'SRR8334037': '42℃:30min.', 'SRR8334038': '42℃:30min.', 'SRR10953094': '42℃:65min.', 'SRR10953095': '42℃:65min.', 'SRR10953096': '42℃:65min.', 'SRR10953097': '42℃:65min.', 'SRR10953098': '42℃:65min.', 'SRR8669175': '42℃:9×60min.', 'SRR8669176': '42℃:9×60min.', 'SRR8669177': '42℃:9×60min.', 'SRR8669167': '42℃:9×60min.', 'SRR8669168': '42℃:9×60min.', 'SRR8669169': '42℃:9×60min.', 'SRR8669170': '42℃:9×60min.', 'SRR8669171': '42℃:9×60min.', 'SRR12267715': '42℃:60min.', 'SRR12267716': '42℃:60min.', 'SRR12267717': '42℃:60min.', 'SRR12267718': '42℃:60min.', 'SRR12267719': '42℃:60min.', 'SRR12267720': '42℃:60min.', 'SRR12267721': '42℃:60min.', 'SRR12267722': '42℃:60min.', 'SRR13436390': '42℃:60min.', 'SRR13436391': '42℃:60min.', 'SRR13436392': '42℃:60min.', 'SRR13436393': '42℃:60min.', 'SRR13436394': '42℃:60min.', 'SRR13436395': '42℃:60min.', 'SRR13436396': '42℃:60min.+recovery', 'SRR13436397': '42℃:60min.+recovery', 'SRR13436398': '42℃:60min.+recovery', 'SRR13436399': '42℃:60min.+recovery', 'SRR13436400': '42℃:60min.+recovery', 'SRR13436401': '42℃:60min.+recovery', 'SRR13510258': '43℃:30min.', 'SRR13510259': '43℃:60min.', 'SRR13510260': '43℃:180min.', 'SRR13510262': '43℃:30min.', 'SRR13510263': '43℃:60min.', 'SRR13510264': '43℃:180min.', 'SRR13510285': '43℃:120min.', 'SRR13510286': '43℃:120min.', 'SRR13510287': '43℃:120min.', 'SRR13510288': '43℃:120min.', 'SRR13510289': '43℃:120min.', 'SRR13510290': '43℃:120min.', 'SRR13510291': '43℃:120min.', 'SRR13510292': '43℃:120min.', 'SRR13510293': '43℃:120min.', 'SRR13510294': '43℃:120min.', 'SRR13510331': '43℃:120min.', 'SRR13510332': '43℃:120min.', 'SRR13510333': '43℃:120min.', 'SRR13510334': '43℃:120min.', 'SRR13510335': '43℃:120min.', 'SRR13510336': '43℃:120min.', 'SRR13510337': '43℃:120min.', 'SRR13510338': '43℃:120min.', 'SRR13510339': '43℃:120min.', 'SRR13510340': '43℃:120min.', 'SRR13510341': '43℃:120min.', 'SRR13510342': '43℃:120min.', 'SRR13510254': '43℃:120min.', 'SRR13510256': '43℃:120min.', 'SRR18248312': '43℃:120min.', 'SRR18248316': '43℃:120min.', 'SRR18248314': '43℃:120min.', 'SRR18248318': '43℃:120min.', 'SRR17038288': '43℃:105min.', 'SRR17038289': '43℃:105min.', 'SRR17038292': '43℃:105min.', 'SRR17038293': '43℃:105min.', 'SRR17038296': '43℃:105min.', 'SRR17038297': '43℃:105min.', 'SRR17038300': '43℃:105min.', 'SRR17038301': '43℃:105min.', 'SRR17038304': '43℃:105min.', 'SRR17038305': '43℃:105min.', 'SRR17038308': '43℃:105min.', 'SRR17038309': '43℃:105min.', 'SRR13510346': '43℃:105min.', 'SRR13510347': '43℃:105min.', 'SRR13510348': '43℃:105min.', 'SRR18248916': '43℃:120min.', 'SRR18248920': '43℃:120min.', 'SRR18248924': '43℃:120min.', 'SRR18248914': '43℃:120min.', 'SRR18248918': '43℃:120min.', 'SRR18248922': '43℃:120min.', 'SRR5756320': '44℃:60min.', 'SRR5756321': '44℃:60min.', 'SRR5756322': '44℃:60min.', 'SRR5756323': '44℃:60min.', 'SRR5756324': '44℃:120min.', 'SRR5756325': '44℃:120min.', 'SRR5756326': '44℃:120min.', 'SRR5756327': '44℃:120min.', 'SRR5756344': '44℃:60min.', 'SRR5756345': '44℃:60min.', 'SRR5756346': '44℃:60min.', 'SRR5756347': '44℃:60min.', 'SRR5756348': '44℃:120min.', 'SRR5756349': '44℃:120min.', 'SRR5756350': '44℃:120min.', 'SRR5756351': '44℃:120min.', 'SRR3000786': '43℃:240min.', 'SRR3000787': '43℃:240min.', 'SRR5749642': '43℃:30min.', 'SRR5749643': '43℃:30min.', 'SRR5749644': '43℃:30min.', 'SRR5749645': '43℃:30min.', 'SRR5749646': '43℃:30min.', 'SRR5749647': '43℃:30min.'}

In [6]:
# Conversion by specifying dictionary data to mapper using pandas.dataframe.rename

df1.rename(mapper=condition, axis=1, inplace= True) 
df1.head()

,44℃:120min.,44℃:120min.,44℃:120min.,44℃:120min.,43℃:60min.,43℃:60min.,43℃:60min.,43℃:60min.,45℃:30min.,45℃:30min.,...,45℃(+/-0.2):30min.,45℃(+/-0.2):30min.,45℃(+/-0.2):30min.,45℃(+/-0.2):30min.,43℃:30min.,43℃:30min.,43℃:30min.,43℃:30min.,43℃:30min.,43℃:30min.
GeneName,,,,,,,,,,,,,,,,,,,,,
A1BG,0.937577,0.905060,1.173431,0.951361,1.616084,1.587653,0.839417,0.707164,0.688915,0.807707,...,0.150518,3.972351,1.388637,0.267622,1.000000,1.0,1.000000,1.000000,1.000000,0.497684
A1CF,1.274827,1.000000,1.000000,1.000000,1.578923,1.121376,1.125679,1.256608,0.867105,0.542718,...,1.000000,1.000000,1.000000,1.000000,0.939182,1.0,1.052121,1.029972,1.000000,1.000000
A2M,0.954195,1.510970,1.340899,0.800410,2.867888,0.271588,1.027820,0.628021,0.646622,1.000000,...,1.000000,4.285260,1.000000,1.000000,1.000000,1.0,1.000000,0.875078,2.271058,1.530530
A2ML1,1.078959,0.649897,0.789869,1.665942,2.674006,8.028230,3.515341,9.282938,0.929338,0.266727,...,1.000000,0.795947,1.000000,1.000000,1.000000,1.0,1.000000,2.026651,1.000000,1.000000
A3GALT2,1.000000,1.000000,1.000000,1.000000,0.924578,1.000000,1.000000,0.468382,0.600246,0.241123,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000

In [7]:
sample_list = df1.columns.unique()
column_types = {col: [] for col in sample_list}
print(column_types)

{'44℃:120min.': [], '43℃:60min.': [], '45℃:30min.': [], '42℃:60min.': [], '43℃:30min.': [], '39℃:1440min.': [], '42℃:30min.': [], '42.5℃:60min.': [], '45℃(+/-0.2):30min.': [], '41.5℃：420min.': [], '41.5℃:420min.': [], '42℃:240min.': [], '42℃:160min.': [], '42℃:45min.': [], '39℃:240min.': [], '42℃:60min.+recovery': [], '43℃:120min.': [], '43℃:180min.': [], '42℃:15min.': [], '43℃:105min.': [], '44℃:60min.': [], '42℃:65min.': [], '43℃:240min.': [], '42℃:9×60min.': []}

In [9]:

temp = pd.DataFrame()

# Extract unique column name 
sample_list = df1.columns.unique()

for col in sample_list:  # distinct UP, DOWN, ALL from df1
    thre = df1.filter(like = col)>=5 
    temp[col + '-up' ] = thre.sum(axis=1)
    thre = df1.filter(like = col)<=1/5
    temp[col + '-down' ] = thre.sum(axis=1)
    thre = df1.filter(like = col) >= 0
    temp[col  + '-all'] = thre.sum(axis=1)

all_columns = temp.filter(regex='-all$')  #ALL pair (for check)
temp["all(check)"] = all_columns.sum(axis=1)

thre =df1>= 0  # ALL pair
temp["all"] = thre.sum(axis=1)

for word in sample_list:
    temp["unchange_" + word] = temp[word + "-all"] - temp[word + "-up"] - temp[word + "-down"] # unchnage
    temp["HN5_" + word] =  temp[word + "-up"] - temp[word + "-down"] #HN-score (threshold 5)


total_columns = temp.filter(regex='^HN5')  #Total_HN-score
temp["Total_HN-score"] = total_columns.sum(axis=1)

temp

,44℃:120min.-up,44℃:120min.-down,44℃:120min.-all,43℃:60min.-up,43℃:60min.-down,43℃:60min.-all,45℃:30min.-up,45℃:30min.-down,45℃:30min.-all,42℃:60min.-up,...,HN5_43℃:105min.,unchange_44℃:60min.,HN5_44℃:60min.,unchange_42℃:65min.,HN5_42℃:65min.,unchange_43℃:240min.,HN5_43℃:240min.,unchange_42℃:9×60min.,HN5_42℃:9×60min.,Total_HN-score
GeneName,,,,,,,,,,,,,,,,,,,,,
A1BG,0,0,18,0,0,13,0,0,3,1,...,0,8,0,5,0,1,1,8,0,3
A1CF,0,0,18,0,0,13,0,0,3,0,...,0,8,0,5,0,2,0,8,0,2
A2M,0,0,18,0,0,13,0,0,3,1,...,0,8,0,5,0,2,0,7,-1,1
A2ML1,0,0,18,4,0,13,0,0,3,3,...,1,7,1,5,0,1,1,8,0,12
A3GALT2,3,1,18,0,0,13,0,0,3,1,...,1,4,4,5,0,2,0,8,0,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11A,0,0,18,0,0,13,0,0,3,3,...,1,8,0,5,0,2,0,8,0,7
ZYG11B,0,0,18,0,0,13,0,0,3,0,...,0,8,0,5,0,2,0,8,0,1
ZYX,1,0,18,0,0,13,0,0,3,2,...,0,8,0,4,1,1,1,8,0,5
ZZEF1,0,0,18,0,0,13,0,0,3,3,...,0,8,0,5,0,2,0,8,0,6
ZZZ3,0,0,18,0,0,13,0,0,3,4,...,0,8,0,5,0,1,1,8,0,7

In [10]:
tempHN5= temp.sort_values(by= "Total_HN-score", ascending=False)
tempHN5

,44℃:120min.-up,44℃:120min.-down,44℃:120min.-all,43℃:60min.-up,43℃:60min.-down,43℃:60min.-all,45℃:30min.-up,45℃:30min.-down,45℃:30min.-all,42℃:60min.-up,...,HN5_43℃:105min.,unchange_44℃:60min.,HN5_44℃:60min.,unchange_42℃:65min.,HN5_42℃:65min.,unchange_43℃:240min.,HN5_43℃:240min.,unchange_42℃:9×60min.,HN5_42℃:9×60min.,Total_HN-score
GeneName,,,,,,,,,,,,,,,,,,,,,
HSPA6,14,0,18,13,0,13,0,0,3,81,...,11,0,8,5,0,0,2,8,0,251
HSPA1A,17,0,18,13,0,13,0,0,3,66,...,11,0,8,1,4,0,2,8,0,245
HSPA1B,16,1,18,10,0,13,1,0,3,72,...,11,0,8,2,3,0,2,8,0,237
DNAJB1,16,0,18,10,0,13,3,0,3,72,...,11,0,8,2,3,0,2,8,0,216
BAG3,14,0,18,11,0,13,0,0,3,66,...,11,0,8,5,0,0,2,8,0,187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
N4BP1,0,5,18,0,0,13,0,0,3,0,...,-2,8,0,5,0,2,0,8,0,-41
ZNF784,0,7,18,0,0,13,0,0,3,1,...,-5,4,-2,5,0,2,0,8,0,-42
TSSK3,1,6,18,1,3,13,0,0,3,9,...,-4,4,0,5,0,1,1,8,0,-46
HRCT1,1,6,18,1,0,13,0,0,3,0,...,-2,4,-2,5,0,2,0,8,0,-52
H1-3,0,10,18,0,1,13,0,0,3,0,...,-10,4,-4,5,0,1,-1,8,0,-72

In [ ]:
tempHN5.to_csv('../source/HN-score_human' + '_HN5' + '_condition_all.csv', sep=",")